body {
    font-family: 'Poppins', sans-serif;
    margin: 0;
}

h1 {
    font-size: 50px;
}

h2 {
    font-size: 40px;
}

.clr {
    color: blueviolet;
}

.Ab {
    margin-top: -5%;
}

.font {
    font-family: 'Ubuntu', sans-serif;
    font-weight: 800;
    color: red;
}

.bold {
    font-weight: 600;
}

section {
    display: flex;
    background-image: url(images/bck.png);
}

.btn {
    text-decoration: none;
    background-image: linear-gradient(red, blueviolet);
    padding: 10px 30px;
    border-radius: 15px;
    color: aliceblue;
    font-weight: 800;
    margin-left: 20px;
}

.Intro {
    width: 50%;
    margin-left: 40px;
}

.Intro img {
    width: 80%;
    margin-right: auto;
    margin-top: 20px;
}

.achv {
    width: 50%;
    padding-right: 90px;
}

.achv img {
    width: 60%;
    padding-left: 40px;
}

.pic img {
    width: 100%;
    object-fit: cover;
    padding-bottom: 20px;
}

.rcp {
    text-align: center;
    font-family: 'Prompt', sans-serif;
    color: blueviolet;
}

.dsh {
    display: flex;
    margin-bottom: 100px;
}

.dish {
    box-shadow: 5px 5px 5px gray;
    border-radius: 20px;
    width: 30%;
    margin-left: 2%;
    margin-right: 2%;
    padding-top: 15px;
    padding-bottom: 30px;
    text-align: center;

}

.dish img {
    width: 80%;
}